
<div class = 'ht container pt-4 d-flex flex-column  align-items-center justify-contents-center' >
  <%= render 'helper/notice'%>
  <h1 class = ' fm fst-italic' > Budgeter Mk </h1>

  <div>
    <%= link_to 'Log in', user_session_path , class: 'btn main-bg text-light mt-4' %>
    <%= link_to 'Sign up', new_user_registration_path , class: 'btn main-bg text-light mt-4' %>
  </div>
</div>
